@{
    ViewData["Title"] = "";
}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"><img src="~/images/logo-cafedebug-rodape.png" class="logorodape"></div>
            <div class="col-sm-9">
                <div id="linharodape">
                </div>
                <div id="nav-rodape2">
                    <ul>
                        <li class="nav-item">@Html.ActionLink("Desenvolvido por", "Index", "Projetos")</li>
                        <li class="nav-item">@Html.ActionLink("Episódios", "Index", "Artigos")</li>
                        <li class="nav-item">@Html.ActionLink("Categorias", "Index", "Jobs")</li>
                        @*<li class="nav-item">@Html.ActionLink("Patrocinadores", "Index", "Sponsor")</li>*@
                        <li class="nav-item">@Html.ActionLink("Fale Conosco", "Index", "Contact")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

