@{
    ViewData["Title"] = "Café Debug | Seu Podcast de Tecnologia";
}

<header>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><a href="#"><img src="~/images/logo-cafedebug.png" class="logo" /></a></div>
                <div class="col-md-8">
                    <div class="topheader">
                        <a href="https://www.youtube.com/channel/UCLI7ho2zV2apQ2WHPGxkCQw"><i class="fab fa-youtube"></i></a>
                        <a href="https://twitter.com/cafedebug" target="_blank"><i class="fab fa-twitter-square"></i></a>
                    </div>
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <button class="navbar-toggler nvbt" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="navbar-nav ml-md-auto menutop">
                                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="nav-item">@Html.ActionLink("Quem Somos", "Index", "About")</li>
                                <li class="nav-item">@Html.ActionLink("Episódios", "Index", "Episode")</li>
                                @*<li class="nav-item">@Html.ActionLink("Patrocinadores", "Index", "Patrocinadores")</li>*@
                                <li class="nav-item">@Html.ActionLink("Fale Conosco", "Index", "Contato")</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
