
<!--sideBar - menu do painel do admin-->
<nav id="sidebar">
    <div class="sidebar-header text-center">
        <h3><img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/logo-line.png" class="p-2"></h3>
    </div>
    <ul class="list-unstyled components">
        <li>@Html.ActionLink("Banner", "Banner", "Banner")</li>
        <li>@Html.ActionLink("Quem Somos", "Index", "About")</li>
        <li>@Html.ActionLink("Categoria", "Index", "Category")</li>
        <li>@Html.ActionLink("Episódio", "Index", "Episode")</li>
        <li>@Html.ActionLink("Notícia", "Index", "News")</li>
        <li>@Html.ActionLink("Minha Conta", "Index", "Account")</li>
        <li>@Html.ActionLink("Usuário", "Get", "User")</li>
    </ul>
    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="article">Sair</a>
            @*@Html.ActionLink("Sair", "LogOff", "Account", new { @class = "article" })*@ <!--deslogar usuário não remover este botão-->
        </li>
    </ul>
</nav>

