

<nav id="sidebar">
    <div class="sidebar-header text-center">
        <h3><img src="~/images/logo-line.png" class="p-2"></h3>
    </div>
    <ul class="list-unstyled components">
        <li>@Html.ActionLink("Banner", "Banner", "Banner")</li>
        <li>@Html.ActionLink("Quem Somos", "QuemSomosPainel", "QuemSomos")</li>
        <li>@Html.ActionLink("Categoria", "GetCategoria", "Categoria")</li>
        <li>@Html.ActionLink("Episódio", "GetEpisodio", "Episodio")</li>
        <li>@Html.ActionLink("Notícia", "GetNoticia", "Noticia")</li>
        <li>@Html.ActionLink("Minha Conta", "Index", "Account")</li>
        <li>@Html.ActionLink("Usuário", "GetUsuario", "Usuario")</li>
    </ul>
    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="article">Sair</a>
            @*@Html.ActionLink("Sair", "LogOff", "Account", new { @class = "article" })*@
        </li>
    </ul>
</nav>

