@model Cafedebug.Web.Models.UsuarioModel
@{
    ViewData["Title"] = "Login | Café Debug";
}

<!-- Modal/Pop-up - Mensagens -->
<div id="exibir-mensagem">@*carrega o conteúdo com javascript*@</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <section class="login" id="pagLogin">
                <div id="logologin" alt="café debug"></div>
                <div class="input-group">
                    @Html.TextBoxFor(u => u.Login, new { required = "required", @name = "Login", @id = "Login" })<i class="fas fa-user"></i><span>login</span>
                </div>
                <div class="input-group">
                    @Html.TextBoxFor(u => u.Senha, new { required = "required", type = "password", @name = "Senha", @id = "Senha" })<i class="fas fa-lock"></i><span>senha</span>
                </div>
                <div id="logar">
                    <div class="input-group">
                        <button class="btn-login" onclick="FazerLogin()"><b>Logar</b></button>
                    </div>
                </div>
                <br /><br /><br />

                <div class="lembrar checkbox">
                    <label class="linhadbt" />
                    @Html.CheckBoxFor(u => u.LembrarSenha, new { @value = "true" })<small>lembrar senha</small>
                    <label class="linhadbt">
                        @Html.ActionLink("Esqueci minha senha", "PasswordForgout", "Account", new { id = "id" }, null)
                    </label>
                    <label class="linhadbt">@Html.ActionLink("Esqueci minha senha", "PasswordForgout", "Account", new { @name = "LembrarSenha", @id = "LembrarSenha" }, null)</label>
                </div>

                <div id="loader" class="loader" width="20px" height="20px">
                    <img src="~/images/loader.gif" alt="Carregando..." />
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/jscript">

    document.addEventListener("DOMContentLoaded", function () {
        $('#logar').show();
        $('#loader').hide();

        MontarMensagem();
    });

    function FazerLogin() {

        $('#logar').hide();
        $('#loader').show();

        let JSON_global = {
            Login: document.getElementById("Login").value,
            Senha: document.getElementById("Senha").value,
            LembrarSenha: document.querySelectorAll('[name=LembrarSenha]')[0].checked
        };

        var Request = new XMLHttpRequest();

        Request.onreadystatechange = function () {

            if (this.readyState == 4 && this.status == 200) {

                $('#logar').show();
                $('#loader').hide();

                var retorno = JSON.parse(this.responseText);

                if ((retorno.indexOf("http://") >= 0) || (retorno.indexOf("https://") >= 0)) {
                    location.href = retorno;
                }
                else {
                    ExibirPopUpWarning(retorno);
                }
            }
        };

        Request.open("POST", 'https://' + window.location.host + '/Account/Autentication', true);
        Request.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        Request.send(JSON.stringify(JSON_global));
    }


</script>